@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
   font-family: 'Inter', sans-serif;

   --table-vertical-spacing: 0;
}

th,
td {
   height: 28px;
   font-size: 13px;
   white-space: nowrap;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
}

.monaco-editor,
.overflow-guard {
   border-radius: 8px;
}
